
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 2.1rem;
    color:lawngreen;
}

.rightNav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.option {
    cursor: pointer;
}

